/* ベースのリセット */
body,
h1,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 40px;
    line-height: 1.6;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

ul {
    list-style: none;
    /*max-width: 600px;*/
    padding: 0;
}

ul.home {
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

li {
    margin: 15px 0;
}

a.home {
    display: block;
    padding: 15px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 1.2em;
}

a:hover.home {
    background-color: #2980b9;
}

a.output {
    /*display: block;*/
    padding: 5px 5px;
    background-color: #db3434;
    color: #fff;
    /*text-decoration: none;*/
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: left;
    font-size: 1.2em;
}

a.output:hover {
    background-color: #9a1010;
}

a.underline {
    all: unset;
    color: #db3434;
    text-decoration: underline;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-top: 30px;
}

/* コードブロック全体のスタイル */
pre {
    background-color: #282c34;  /* 背景色をダークに */
    color: #ffffff;  /* 文字色を白に */
    padding: 20px;  /* 内側余白 */
    border-radius: 8px;  /* 角を丸く */
    overflow-x: auto;  /* 横スクロールを有効に */
    overflow-y: hidden;  /* 縦スクロールを無効に */
    border: 1px solid #333;  /* 外枠を暗い灰色に */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);  /* ドロップシャドウ */
    margin: 20px 0;  /* 上下の外側余白 */
    max-height: none;  /* 縦方向の高さ制限を解除 */
}

/* コード内のスタイル */
code {
    font-family: "Courier New", Courier, monospace;  /* 等幅フォントを指定 */
    font-size: 14px;  /* 文字サイズを指定 */
    line-height: 1.5;  /* 行間の調整 */
    white-space: pre;  /* 改行を無効にして横スクロールを有効に */
    overflow-x: auto;  /* 横スクロールを有効に */
    overflow-y: hidden;  /* 縦スクロールを無効に */
}

/* 強調表示用の色設定 */
pre code {
    color: #c5c8c6;  /* デフォルトの文字色 */
}

/* コメント部分の色を変更 */
pre code span.comment {
    color: #12c92a;
    font-style: italic;
}

/* キーワードの色設定 */
pre code span.keyword {
    color: #cc99cd;
}

/* 文字列リテラルの色設定 */
pre code span.string {
    color: #b5bd68;
}

/* 関数名の色設定 */
pre code span.function {
    color: #81a2be;
}

/* 数字の色設定 */
pre code span.number {
    color: #de935f;
}

/* 赤文字 */
pre code span.red{
    color: #b5bd6f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    a {
        font-size: 1em;
        padding: 10px 15px;
    }
}
